<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
      <session-factory>
            <!-- local connection properties -->
            
            <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/DATABASENAME</property>
            <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
            <property name="hibernate.connection.username">USERNAME</property>
            <property name="hibernate.connection.password">PASSWORD</property>
            <property name="hibernate.connection.pool_size">10</property>

            <!-- dialect for MySQL -->
            <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

            <property name="hibernate.show_sql">true</property>
            <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
            <property name="hbm2ddl.auto">create</property>
            <property name="cache.use_query_cache">false</property>
            
            <mapping class="model.Vehicle"/>
            <mapping class="model.Address"/>
            <mapping class="model.Horodator"/>
            <mapping class="model.Spot"/>
            <mapping class="model.User"/>
        
	</session-factory>
</hibernate-configuration>