body {
	font-family: 'Raleway';
}

.brand {
	font-family: 'Lobster';
	color: black;
}

#main-container {
	max-width: 700px;
	margin: auto;
	display: none;
}

#results-container {
	display: none;
	marging-top:5px;
	margin-bottom: 5px;
}

#alerts-container {
	display:none;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#form-container {
	max-width: 400px;
	margin: auto;
	display: none;
}

.free-spot {
    background-image:url("../img/freespot.png");
    height: 40px;
    width: 40px;
}

.full-spot {
    background:url("../img/fullspot.png");
    height: 40px;
    width: 40px;
}

#main-menu{
	display: none;
}