html {
	height: 100%;
}

body {
	font-family: 'Raleway';
	min-height: 100%;
	position: relative;
	color: #f0ad4e;
}

.brand strong {
	color: #52a0e2;
}

.brand {
	font-family: 'Lobster';
}

#main-container {
	top: 15%;
	max-width: 700px;
	margin: auto;
	display: none;
}

#results-container {
	display: none;
	margin-top: 7px;
}

#alerts-container {
	display: none;
	margin-top: 7px;
}

#form-container {
	max-width: 400px;
	margin: auto;
	display: none;
}

.free-spot {
	background-image: url("../img/freespot.png");
	height: 40px;
	width: 40px;
}

.full-spot {
	background: url("../img/fullspot.png");
	height: 40px;
	width: 40px;
}

#main-menu {
	margin-top: auto;
	display: none;
}

#map {
	height: 430px;
	position: relative;
	width: 100%;
}