body {
	font-family: 'Raleway';
}

.brand{
	font-family: 'Lobster';
}

#main-container {
	max-width: 700px;
	margin: auto;
}

#input-container {
	height: 35px;
}

#localisationInput {
	height: 100%;
	width: 100%;
	padding-right: 10%;
	margin: initial;
}

#geolocalizeButton {
	padding: 0px;
	height: 99%;
	margin-left: -10%;
	width: 10%;
}

#banner-container {
	
}

.banner {
	max-height: 90px;
}

.banner-info {
	
}

.banner-proposal {
	
}

.banner-release {
	
}